<div class="assigned-orders">
  <h1>Assigned Orders to Couriers</h1>

  <div *ngIf="errorMessage" class="error-message">
    {{ errorMessage }}
  </div>

  <table *ngIf="orders.length > 0; else noOrders">
    <thead>
      <tr>
        <th>Order ID</th>
        <th>Status</th>
        <th>Currently Assigned Courier</th>
        <th>Reassign Order to Courier</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let order of orders">
        <td>{{ order.id }}</td>
        <td>{{ order.status }}</td>
        <td>
   
          {{ getCourierName(order.assignedCourier) }}
        </td>
        <td>
          <select [(ngModel)]="order.assignedCourier" class="courier-select" (change)="reassignOrder(order.id, order.assignedCourier)">
            <option *ngFor="let courier of couriers" [value]="courier.id">
              {{ courier.name }}
            </option>
          </select>
        </td>
      </tr>
    </tbody>
  </table>

  <ng-template #noOrders>
    <div class="no-orders">No orders assigned to this courier.</div>
  </ng-template>
</div>
