.manage-orders {
  padding: 20px;
  background-color: #f8f9fa;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

h1 {
  font-family: 'Manrope', sans-serif;
  font-size: 28px;
  margin-bottom: 20px;
  color: #333;
}

table {
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed;
  margin-top: 20px;
}

th, td {
  border: 1px solid #ddd;
  padding: 12px;
  text-align: left;
  font-size: 18px;
}

th {
  background-color: #64707c;
  color: white;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

tr:hover {
  background-color: #e9ecef;
}

.status-cell, .courier-cell, .actions-cell {
 
  text-align: center;
}

.status-cell, .courier-cell {

  align-items: center;
}

select {
  padding: 2px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #fff;
  font-size: 14px;
  width: 100%;
  margin-bottom: 10px;
}

.confirm-btn, .delete-btn {
  padding: 8px 12px;
  border-radius: 4px;
  color: white;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s;
  width: 100%;
}

.confirm-btn {
  background-color: #28a745;
}

.confirm-btn:hover {
  background-color: #218838;
}

.delete-btn {
  background-color: #dc3545;
  margin-top: 10px;
}

.delete-btn:hover {
  background-color: #c82333;
}
