.orders-title {
  text-align: center;
  font-size: 2.2em;
  color: #2c3e50;
  margin: 30px 0;
  font-weight: 600;
}

.loading-spinner {
  border: 4px solid rgba(0, 0, 0, 0.1);
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border-top-color: #3498db;
  animation: spin 1s ease-in-out infinite;
  margin: 40px auto;
}

.error-message,
.no-orders-message {
  text-align: center;
  font-size: 1.2em;
  margin: 20px;
  font-weight: 500;
  color: #e74c3c;
}

.orders-list {
  max-width: 800px;
  margin: 20px auto;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
}

.order-item {
  background-color: #ffffff;
  border-radius: 12px;
  padding: 20px;
  border: 1px solid #ecf0f1;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  cursor: pointer;
  width: 400px;
}

.order-item:hover {
  transform: translateY(-5px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
}

.order-details,
.order-status {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #2c3e50;
  margin-bottom: 10px;
}

.order-status span {
  font-weight: bold;
}

.order-expanded-details {
  margin-top: 20px;
  background-color: #ecf0f1;
  border-radius: 10px;
  padding: 15px;
  color: #2c3e50;
}

.order-separator {
  border: none;
  border-top: 2px solid #ecf0f1;
  margin: 20px 0;
}

.delivered {
  color: #27ae60;
}

.pending {
  color:#dfd021;
}

.in-transit {
  color: #f39c12 ;
}

.button-group {
  display: flex;
  flex-direction: column;
  gap: 15px; 
  align-items: center;
}

button {
  margin-top: 15px;
  padding: 12px 20px;
  background-color: #3498db;
  color: white;
  font-size: 1em;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  width: 100%;
}

button:hover {
  background-color: #2980b9;
}

button:focus {
  outline: none;
}

.cancel-order-button {
  margin-top: 20px;  
  padding: 12px 20px;
  background-color: #e74c3c;
  color: white;
  font-size: 1em;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
  width: 100%; 
}

.cancel-order-button:hover {
  background-color: #c0392b;
  transform: scale(1.05);
}

.cancel-order-button:focus {
  outline: none;
  box-shadow: 0 0 0 3px rgba(231, 76, 60, 0.5);
}
